services:
  ffmpeg:
    image: ffmpeg-i
    container_name: ${FFMPEG_HOST}
    restart: always
    build:
      context: ./ffmpeg
      dockerfile: Dockerfile
    environment:
      - RTSP_URL=${RTSP_URL}
      - YOUTUBE_STREAM_KEY=${YOUTUBE_STREAM_KEY}
    env_file: .env

  ffmpeg-abellona:
    image: ffmpeg-i
    container_name: ${FFMPEG_HOST}-abellona
    restart: always
    build:
      context: ./ffmpeg
      dockerfile: Dockerfile
    environment:
      - RTSP_URL=${RTSP_URL_ABELLONA}
      - YOUTUBE_STREAM_KEY=${YOUTUBE_STREAM_KEY}
    env_file: .env

  ffmpeg-anchorage:
    image: ffmpeg-i
    container_name: ${FFMPEG_HOST}-anchorage
    restart: always
    build:
      context: ./ffmpeg
      dockerfile: Dockerfile
    environment:
      - RTSP_URL=${RTSP_URL_ANCHORAGE}
      - YOUTUBE_STREAM_KEY=${YOUTUBE_STREAM_KEY}
    env_file: .env