services:
  nginx:
    image: nginx:i
    container_name: ${NGINX_HOST}
    restart: always
    build:
      context: nginx
      dockerfile: Dockerfile
      args:
        ENABLED_MODULES: rtmp
    env_file: .env
    ports:
      - ${HTTP_PORT}:${HTTP_PORT}
      - ${RTMP_PORT}:${RTMP_PORT}
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/rtmp.conf:/etc/nginx/templates/rtmp.conf.template
      - ./nginx/http.conf:/etc/nginx/templates/http.conf.template
      - ./nginx/index.html:/usr/share/nginx/html/index.html

  ffmpeg:
    image: ffmpeg-i
    container_name: ${FFMPEG_HOST}
    restart: always
    build:
      context: ./ffmpeg
      dockerfile: Dockerfile
    environment:
      - RTSP_URL=${RTSP_URL}
      - RTMP_PORT=${RTMP_PORT}
      - STREAM_NAME=bliss
    env_file: .env
    depends_on:
      - nginx

  ffmpeg-abellona:
    image: ffmpeg-i
    container_name: ${FFMPEG_HOST}-abellona
    restart: always
    build:
      context: ./ffmpeg
      dockerfile: Dockerfile
    environment:
      - RTSP_URL=${RTSP_URL_ABELLONA}
      - RTMP_PORT=${RTMP_PORT}
      - STREAM_NAME=abellona
    env_file: .env
    depends_on:
      - nginx

  ffmpeg-anchorage:
    image: ffmpeg-i
    container_name: ${FFMPEG_HOST}-anchorage
    restart: always
    build:
      context: ./ffmpeg
      dockerfile: Dockerfile
    environment:
      - RTSP_URL=${RTSP_URL_ANCHORAGE}
      - RTMP_PORT=${RTMP_PORT}
      - STREAM_NAME=anchorage
    env_file: .env
    depends_on:
      - nginx